<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTPDataBase.Properties.Settings.BaumalogDB_v2ConnectionString"
            connectionString="Data Source=PF1HZAN2\SQLEXPRESS;Initial Catalog=BaumalogDB_v3.1;Persist Security Info=True;User ID=wms;Password=1"
            providerName="Microsoft.Data.SqlClient" />
        <add name="BTPDataBase.Properties.Settings.BaumalogDB_v3ConnectionString"
            connectionString="Data Source=PF1HZAN2\SQLEXPRESS;Initial Catalog=BaumalogDB_v3.1;Persist Security Info=True;User ID=wms;Password=1"
            providerName="Microsoft.Data.SqlClient" />
        <add name="BTPDataBase.Properties.Settings.BaumalogDB_v3_masterConnectionString"
            connectionString="Data Source=PF1HZAN2\SQLEXPRESS;Initial Catalog=BaumalogDB_v3.2_master;User ID=wms;Password=1"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
